<h1><%= @client.name() %></h1>

  <ul>
    <li>ID# <%= @client.id() %></li>
    <li>Name: <%= @client.name() %></li>
    <li>Contact info: <%= @client.contact() %></li>
    <li>Stylist ID: <%= @client.stylist_id() %></li>
  </ul>

  <div>
    <form action="/clients/<%= @client.id() %>/edit" method="patch">
      <input type="hidden" name="_method" value="update">
      <button type="submit" id="update" class="btn-lg btn btn-info">Edit</button> this Client's info or Stylist</h2>
      </form>
  </div>

<div>
  <ul>
    <li><a class="btn btn-med btn-success" href="/clients">Back to All Clients</a></li>
  </ul>
</div>
