<div class="row">
  <div class="col-md-4">
    <h2>Current Clients of Your Hair Salon</h2>
    <% if @clients.any?() && @stylists.any?() %>
      <ul>
        <% @clients.each() do |client| %>
          <li><h3><a href="/clients/<%= client.id() %>"><%= client.name() %> </h3><br>contact: <em><%= client.contact() %></em></a></li>
        <% end %>
      </ul>
    <% else %>
      <h2>You have no clients!</h2>
    <% end %>
  </div>
  <div class="col-md-8">
    <form action="/find_clients_by_stylist" method="post">
    <h3>Look up all the Clients of</h3>
    <% if @stylists.any?() %>
        <select class="well" name="find_by_stylist_id">
          <% @stylists.each() do |stylist| %>
          <option value="<%= stylist.id() %>"><%= stylist.name() %></option>
          <% end %>
        </select>
    <% else %>
      <strong>Please hire a stylist!</strong>
    <% end %>
    <button type="submit" class="btn btn-med btn-success">Find clients</button>
  </form>

  </div>
</div>

<p>
  <a class="btn btn-lg btn-success" href="/clients/new">Add a New Client!</a>
</p>
<div>
  <a class="btn btn-lg btn-info" href="/">Back to Main</a>
</div>
