<h1><%= @stylist.name() %></h1>

  <ul>
    <li>ID# <%= @stylist.id() %></li>
    <li>Name: <%= @stylist.name() %></li>
    <li>Contact info: <%= @stylist.contact() %></li>
  </ul>

<div>
  <form action="/stylists/<%= @stylist.id() %>/update" method="patch">
    <input type="hidden" name="_method" value="update">
    <button type="submit" id="update" class="btn-lg btn btn-info">Edit</button> this Stylist</h2>
    </form>
</div>

<div>
  <ul>
    <li><a class="btn btn-med btn-success" href="/stylists">Back to All Stylists</a></li>
  </ul>
</div>
