<h1><%= @stylist.name() %></h1>

<form action="/stylist/<%= stylist.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" id="delete" class="btn-sm btn btn-danger">
  <span class="glyphicon glyphicon-minus"></span>
  </button></form>

  <ul>
    <li>ID# <%= @stylist.id() %></li>
    <li>Name: <%= @stylist.name() %></li>
    <li>Contact info: <%= @stylist.contact() %></li>
  </ul>

<div>
  <a href="/stylists">Remove this stylist from the database!</a>
</div>

<div>
  <ul>
    <li><a href="/stylists">Back to All Stylists</a></li>
  </ul>
</div>
