<div>
  <h1><%= @stylist.name() %></h1>

  <ul>
    <li>ID# <%= @stylist.id() %></li>
    <li>Name: <%= @stylist.name() %></li>
    <li>Contact info: <%= @stylist.contact() %></li>
  </ul>
  <hr>
  <% if @stylist.clients.any?() %>
  <h2>Clients</h2>
    <ul>
      <% @stylist.clients.each() do |client| %>
        <li><a href="/clients/<%= client.id() %>"><strong><%= client.name() %></strong> contact: <em><%= client.contact() %></em></a></li>
      <% end %>
    </ul>
  <% else %>
    <h2>You have no clients!</h2>
  <% end %>

</div>
<div>
  <form action="/stylists/<%= @stylist.id() %>/edit" method="get">
    <button type="submit" class="btn-lg btn-info">Edit</button> this Stylist</h2>
    </form>
</div>

<div>
  <a class="btn btn-med btn-success" href="/stylists">Back to All Stylists</a>
</div>
